.imagenLogo{
  width: 120px;
  height: 120px;
}

.intro {
	background-color: #ffc107;

}
.parrafo{
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
}
.section-intro{
  padding: 80px;
  background-color: #ffc107
}
.intro h3 {
	color: #fff;
	margin-top: 0;
}
.intro p { 
	color: #fff;
	font-weight: 400;
}

.banner{
background-image: url(../img/giphy.gif);
background-position: center top;
background-repeat: no-repeat;
-moz-background-size: cover;
-o-background-size: cover;
-webkit-background-size: cover;
background-size: cover;

}
.imagencarrito{
  width: 40px;
  height: 40px;
  margin-left: 22px;
}

.productosHome{
  margin-left: auto;
  margin-right: auto;
}
.textoCentro{
text-align: center;
color: rgb(255, 255, 255);
margin-bottom: 50px;
font-size: 40px;
}

.tituloproducto2{
  padding: 25px;
}
.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.04);
}

.zoomboton {
  transition: transform .2s; 
}

.zoomboton:active {
  transform: scale(0.9); 
}

.colorhr{
  color: white;
}

.tituloPrincipal{
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15.5%;
  
}

.btn {
	background-color: transparent;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	border: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
	border: 1px solid #2600ff;
  margin-top: 30px;
}
.btn:hover, .btn:focus {
	background-color: #0004ff;
	color: #fff;
}
.btn-large {
	padding: 15px 40px;
}


h1{
  font-size: 120px;
  text-align: center;
}

body{
  background: radial-gradient(#514a8d, #df0ecd)
  
  ;
}
header, .alert{
  z-index: 100;
}
.description{
  height: 25px;
  overflow: hidden;
  transition: height .3s ease-in .3s;
}
.description:hover{
  height: 80px;
}
.carrito{
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.table__productos{
  display: flex;
}
.table__productos > img{
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__cantidad > input{
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.hide, .remove{
  display: none;
}


/* MEDIAQUERIES */
@media only screen and (max-width: 1100px){
  .parrafo{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
  }
  h1{
    font-size: 100px;
    text-align: center;
  }
  
}

@media only screen and (max-width: 600px){
  .parrafo{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }

  h1{
    font-size: 80px;
    text-align: center;
  }
  .section-intro{
    padding: 40px;
    background-color: #ffc107
  }
  
}

@media only screen and (max-width: 500px){
  .parrafo{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  h1{
    font-size: 60px;
    text-align: center;
  }
  .section-intro{
    padding: 30px;
    background-color: #ffc107
  }
}

@media only screen and (max-width: 320px){
  .parrafo{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
  h1{
    font-size: 60px;
    text-align: center;
  }
  h3{
    font-size: 28px;
  }
  .section-intro{
    padding: 30px;
    background-color: #ffc107
  }
}